*{
    box-sizing: border-box;
}
.single-carousel{
    background: url('images/banner.png');
    height: 500px;
    width: 100%;
    position: relative;
   
}

.carousel-details{
    position: absolute;
    left: 30%;
    bottom: 100px;
    color: white;
}

ul li{
    list-style: none;
}

.third-card{
    border: none;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    background-color: #2192FF;
    color: white;
    cursor: pointer;
    transition: .7s;
    

}
.third-card:hover{
    transform: scale(1.04);
    cursor: pointer;
}
.third-footer button{
    border: none;
    color: #2192FF;
    background-color: white;
   
}

.notification{
    margin-right: 30px;
}



.client{
    width: 420px;
    padding:40px 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-right: 10px;
    transition: .7s;
}
.client:hover{
    background-color: #fff;
    cursor: pointer;
    transform: scale(1.02);
    
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a{
    text-decoration: none;
    font-size: 1.3em;
    color: white;
}
.saiful{
    display: flex;
    justify-content: center;
    align-items: center;
}

